html {
  background-color: #0edbeb;
}

.site {

}

.sidenav {

}

.sitecontent {
  width: 100%;
}


.header {
  padding: 5px 5px 5px 5px;
  color: #ffffff;
}

.sitebody {
  padding: 5px 5px 5px 5px;
}

.footer {
  padding: 5px 5px 5px 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-block {
  display: flex;
  flex-wrap: wrap;
}

.item-card {
  padding: 5px 5px 5px 5px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
  min-width: 500px;
  width: 500px;
  min-height: 300px;
  height: 300px;
  margin: 10px 10px 10px 10px;
}

.card-title {
  padding-left: 10px;
  font-family: Georgia, serif;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-paragraph {
  height: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 15px;
  padding-right: 15px;
  font-family: DejaVu Sans Mono, monospace;
  font-size: 14px;
}

.card-link {
  float: right;
  padding-right: 20px;
}

.kb-title {
  font-family: Georgia, serif;
}
