html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #0edbeb;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

.site {

}

.header {
  padding: 5px 5px 5px 5px;
  color: #ffffff;
}

.sitebody {
  padding: 5px 5px 5px 5px;
}

.footer {
  padding: 5px 5px 5px 5px;
}
